{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">Photographers</h1>
  <ul class="archive">
    {% for user in users %}
      <li>
        <a href="{{ user.get_absolute_url }}" style="background-image: url({{ user.last_photo.archive_thumbnail.url }});">
          <span class="title">&nbsp;&nbsp;{{ user.get_full_name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  
  <div class="index-actions">
    <a href="/login/twitter">Login with Twitter</a>
  </div>
{% endblock %}
