{% extends 'gallery/base.html' %}
{% block content %}
  <div class="image" style="background-image: url({{ object.large_thumbnail.url }})"></div>
  <div class="meta">
    <div class="info">
      <h1>{{ object.title }}</h1>
      {{ object.camera }} - {{ object.focal_length }}mm {{ object.exposure_time }}s
      f/{{ object.aperture }}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    setTimeout(function fadeOut() {
      var el = document.querySelector('.meta');
      el.style.opacity = 1;

      (function fade() {
        if ((el.style.opacity -= .1) < 0) {
          el.style.display = "none";
        } else {
          setTimeout(function () {
            requestAnimationFrame(fade);
          }, 50);
        }
      })();
    }, 1500);
  </script>
{% endblock %}

