{% load pipeline %}
<!DOCTYPE html>
<html>
  <head>
    <title>Photos by Rolf Erik Lekang</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:600,400,100" rel="stylesheet" />
    {% stylesheet 'main' %}
  </head>
  <body>
  <div class="wrapper">
    <div class="image" style="background-image: url({{ object.large_thumbnail.url }})"></div>
    <div class="meta">
      <div class="info">
        <h1>{{ object.title }}</h1>
        {{ object.camera }} - {{ object.focal_length }}mm {{ object.exposure_time }}s f/{{ object.aperture }}
      </div>
    </div>
  </div>
  </body>
</html>
