{% extends 'base.html' %}

{% block extra_meta %}
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@moccoas" />
  <meta name="twitter:title" content="{{ object.title }}" />
  <meta name="twitter:image" content="{{ object.medium_thumbnail }}" />
  <meta name="twitter:url" content="{{ object.get_absolute_url }}" />
{% endblock %}

{% block content %}
  <div class="image" style="background-image: url({{ object.large_thumbnail.url }})"></div>
  <div class="meta">
    <div class="info">
      <h1>{{ object.title }}</h1>
      {{ object.camera }} - {{ object.focal_length }}mm {{ object.exposure_time }}s
      f/{{ object.aperture }}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    setTimeout(function () {
      var el = document.querySelector('.meta');
      el.classList.add('hidden');
    }, 1000);
  </script>
{% endblock %}

