html,
body
  height: 100%
  margin: 0
  padding: 0
  font-family: Raleway, sans-serif
  font-weight: 100

h1, h2, h3, h4
  font-weight: 100


.wrapper
  height: 100%
  position: relative

  .nav
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: 1em
    text-align: center
    opacity: 0.1
    transition opacity .6s ease-in
    height: 300px

    &:hover
      opacity: 1
      transition opacity .6s ease-in-out

    a
      color: whitesmoke
      font-weight: 2em
      text-decoration: none
      text-transform: uppercase
      background: rgba(0, 0, 0, 0.2)
      padding: 0.4em
      border: 1px solid whitesmoke

  .image
    width: 100%
    height: 100%
    background-size: cover
    background-position: center center

  .meta
    width: 100%
    padding: 1em 0
    position: absolute
    left: 0
    bottom: 20%
    background: rgba(255, 255, 255, 0.6)

    .info
      width: 80%
      margin: 0 auto

      h1
        font-size: 6em
        margin-bottom: 0

    &.hidden
      bottom: -20em
      opacity: 0
      -webkit-transition: all 2s ease-in
      -moz-transition: all 2s ease-in
      -o-transition: all 2s ease-in
      transition: all 2s ease-in

  &.photo-details
    overflow: hidden


.text-center
  text-align: center

.archive
  list-style-type: none
  margin: 0 auto
  padding: 0
  width: 500px
  text-align: center

  li
    display: inline-block
    margin: 0
    padding: 0
    text-align: left

    &>a
      width: 500px
      height: 500px
      margin: 0
      padding: 0
      display: block
      position: relative
      color: #000000

    .title
      width: 100%
      padding-top: .4em
      position: absolute
      bottom: 1em
      font-size: 2em
      line-height: 2em
      background: rgba(255, 255, 255, 0.6)

.index-actions
  margin-top: 5rem
  text-align: center

  a
    text-decoration: none

@media screen and (min-width: 1000px)
  .archive
    width: 1000px

@media screen and (min-width: 1500px)
  .archive
    width: 1500px

@media screen and (min-width: 2000px)
  .archive
    width: 2000px

@media screen and (min-width: 2500px)
  .archive
    width: 2500px

@media screen and (min-width: 3000px)
  .archive
    width: 3000px
